{% extends 'base.html'%}

{% block content %}
<h1>Edit Post</h1>

<form method="POST" action="/posts/{{post.id}}/edit">

  <div class="mb3">
    <label for="title" class="form-label">Title</label>
      <input class="form-control" id="title" name="title" value="{{ post.title }}">
  </div>

  <div class="mb3">
    <label for="content" class="form-label">Post Content</label>
      <textarea class="form-control"
                id="content"
                name="content">{{ post.content }}</textarea>
  </div>

  <div class="mb3">
    <div class="ml-auto mr-3">
      <a href="/users/{{post.user_id}}" class="btn btn-outline-info">
        Cancel
      </a>
      <button type="submit" class="btn btn-success">
        Submit Edit
      </button>
    </div>
  </div>

</form>
{% endblock %}